.App {
  min-height: 100vh;
  display: grid;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(antiquewhite, rgb(255, 208, 150));
}

h1 {
  background-color: burlywood;
  color: black;
  text-align: center;
  margin-top: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-item {
  list-style-type: none;
  margin-bottom: 20px;
}

.button {
  font-size: 18px;
  width: 110px;
  height: 55px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: burlywood;
  padding: 10px;
  color: black;
}

.image-container {
  list-style-type: none;
  margin-bottom: 20px;
  margin-left: 0px;
  font-size: 20px;
  border-style: outset;
  background-color: wheat;
  border-width: 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 1s ease-in-out;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
}

select {
  padding: 10px;
  margin-left: 10px;
}
